# Python backend
/venv/
__pycache__/
*.pyc

# Node.js / Frontend
/node_modules/
dist/
build/

# IDE and OS specific files
.vscode/
.env
.DS_Store

__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.env
.venv
instance/
.webassets-cache
.coverage
htmlcov/
.pytest_cache/